:root {
  /* login colors */
  --logout-color: #e63946;
  --logout-hover: #d62828;
  --login-color: #f4a261;
  --login-hover: #f4b260;

  /* background and text colors */
  --background-1: #252526;
  --background-2: #4f4f4f;
  --text-color: #fff;

  /* nav colors */
  --nav-bg-color: rgba(255, 255, 255, 0.1);
  --nav-text-color: #bababa;
  --nav-btn-color: #898888;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background: linear-gradient(to bottom, var(--background-1), var(--background-2));
  color: var(--text-color);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  max-width: 1000px;
  margin: 20px auto 0 auto;
  background-color: var(--nav-bg-color);
  border-radius: 10px;
  transition: all 0.25s ease-in-out;
}

nav .logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--nav-text-color);
  cursor: pointer;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

nav ul li a,
nav ul li button {
  font-size: 16px;
  padding: 6px 12px;
  line-height: 1.5;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
}

nav ul li a {
  text-decoration: none;
  color: var(--nav-text-color);
}


nav ul li a:hover {
  color: var(--text-color);
  background: rgba(255, 255, 255, 0.3);
}

nav ul li button {
  background: var(--nav-btn-color);
  min-width: 80px;
  text-align: center;
  border: none;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav ul li button.login {
  background: linear-gradient(135deg, var(--login-color), var(--login-hover));
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* backdrop-filter: blur(8px); */
}

.container h1 {
  color: var(--text-color);
  font-size: 1.5rem;
  margin-bottom: 50px;
}

.auth-form {
  background-color: var(--nav-bg-color);
  padding: 40px 30px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 420px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  color: var(--text-color);
  transition: all 0.3s ease;
}

.auth-form a {
  margin-top: 40px;
  text-decoration: none;
  color: var(--login-color);
}

.auth-form div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.auth-form div img:first-child {
  width: 20px;
  height: 20px;
}

.auth-form input[type="text"],
.auth-form input[type="password"] {
  flex: 1;
  text-align: center;
  padding: 10px 40px 10px 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: var(--text-color);
  outline: none;
  transition: background 0.2s ease;
}

.auth-form input[type="text"]:hover,
.auth-form input[type="password"]:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

#pass-btn {
  position: absolute;
  right: 10px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

#pass-btn:hover {
  transform: scale(1.2);
}

.auth-form input.login {
  margin-top: 10px;
  text-align: center;
  border: none;
  font-weight: 500;
  color: var(--text-color);
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, var(--login-color), var(--login-hover));
  padding: 6px 12px;
  line-height: 1.5;
  border-radius: 8px;
  transition: all 0.25s ease-in-out;
}

.auth-form input.login:hover {
  background: linear-gradient(135deg, var(--login-hover), #f4c482);
}

nav ul li button.login:hover {
  background: linear-gradient(135deg, var(--login-hover), #f4c482);
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

nav ul li button.logout {
  background: linear-gradient(135deg, var(--logout-color), var(--logout-hover));
}

nav ul li button.logout:hover {
  background: linear-gradient(135deg, var(--logout-hover), #f06060);
}

nav ul li button.search {
  min-width: 32px;
  min-height: 32px;
  border-radius: 100%;
}

nav ul li button.search img {
  height: 16px;
  width: 16px;
}

nav ul li button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  filter: brightness(1.1);
}

nav ul li button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 156, 38, 0.5);
}

.hidden {
  display: none;
}

nav form {
  overflow: hidden;
  max-width: 0;
  opacity: 0;
  transition: max-width 0.4s ease, opacity 0.3s ease-in-out;
  white-space: nowrap;
}

@keyframes showForm {
  0% {
    max-width: 0;
    opacity: 0;
  }

  100% {
    max-width: 300px;
    opacity: 1;
  }
}

nav form.visible {
  animation: showForm 0.4s forwards;
}

nav form input,
nav form select {
  background-color: var(--nav-bg-color);
  border: none;
  min-height: 32px;
  text-align: center;
  border-radius: 8px;
  color: var(--text-color);
}

nav form input[type="submit"] {
  padding: 10px;
}

nav form select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 40px 10px 10px;
  cursor: pointer;
  outline: none;

  /* freccina */
  background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='20' viewBox='0 0 24 24' width='20' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5'/></svg>");
  background-repeat: no-repeat;
  background-position: right 5px center;
}

.error {
  color: #f06060;
}

.film-list {
  margin: 30px auto;
  padding: 20px;
  max-width: calc(100% - 40px);
}

.film-list h2 {
  margin-bottom: 20px;
}

.films {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin: 30px auto;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  flex: 0 0 200px;

  background: var(--nav-bg-color);
  color: var(--text-color);

  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  width: 200px;
  padding: 15px;

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card .card-actions {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: calc(100% - 40px);

  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.4s ease-in-out;
}

@keyframes showCardActions {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 100px;
    opacity: 1;
  }
}

.card .card-actions.visible {
  animation: showCardActions 0.4s forwards;
}

.card-actions form input {
  border: none;
  border-radius: 8px;
  background-color: var(--nav-btn-color);
  color: var(--text-color);
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.25s ease;
  margin: 5px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-actions form input:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: translateY(-2px);
}

.card-actions form input:first-child {
  background: linear-gradient(135deg, #2eed15, #25c812);
}

.card-actions form input:first-child:hover {
  background: linear-gradient(135deg, #25c812, #1fa90e);
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.6);
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

/* regista */
.card p {
  font-size: 0.9rem;
  margin: 2px 0;
}

.card p:last-child,
.card p:nth-last-child(2) {
  font-size: 0.8rem;
  color: var(--nav-text-color);
}
